* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

input {
    outline: none;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

body {
    position: relative;
    min-height: 750px;
    overflow: hidden;
}

body::after {
    z-index: -1;
    content: attr(data-bg);
    position: absolute;
    top: -20px;
    left: -20px;
    height: 120%;
    width: 120%;
    background: url("../assets/images/login.jpeg") no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    filter: blur(7px);
}

.main {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    min-height: 750px;
}

.main .contain {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 700px;
    background: url("../assets/images/login.jpeg") no-repeat;
    background-size: auto 100%;
    background-position: center center;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.main .contain .left {
    float: left;
    padding-left: 138px;
    width: 400px;
    height: 100%;
}

.main .contain .left p {
    margin-top: 154px;
    margin-bottom: 150px;
    font-size: 15.7px;
    letter-spacing: 3px;
    color: #e8dfdf;
    border-bottom: 3px solid #fff;
    width: 70px;
    text-align: center;
}

.main .contain .left ul li {
    margin-bottom: 24px;
    font-size: 17px;
    color: #e8dfdf;
}

.main .contain .left ul em {
    display: block;
    width: 205px;
    color: #f8f0f0;
    font-size: 10px;
    text-shadow: 0px 0px 30px #000;
}

.main .contain .right {
    position: relative;
    float: right;
    width: 300px;
    height: 100%;
}

.main .contain .right form {
    margin: 50px;
    margin-top: 137px;
    margin-bottom: 76px;
}

.main .contain .right form .label {
    margin-bottom: 40px;
    color: #fff;
    font-size: 18px;
}

.main .contain .right form ul {
    position: relative;
    color: #fff;
    margin-bottom: 20px;
    font-size: .2rem !important;
}

.main .contain .right form ul input {
    margin-top: 5px;
    width: 100%;
    height: 26px;
    border: none;
    border-radius: 3px;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    letter-spacing: 1px;
}

.main .contain .right form ul span {
    z-index: 999;
    position: absolute;
    right: 0;
    bottom: -15px;
    font-size: 10px;
    color: #e5d7d7;
    letter-spacing: 1px;
}

.main .contain .right form .spanT {
    bottom: -32px;
}

.main .contain .right form .control_login {
    margin-top: 50px;
    overflow: hidden;
}

.main .contain .right form .control_login .control {
    display: inline-block;
    width: 77px;
    height: 33px;
    text-align: center;
    border-radius: 3px;
    line-height: 33px;
    font-size: 15px;
}

.main .contain .right form .control_login #reg {
    float: left;
    background-color: #076d9f;
    color: #fff;
    border: none;
    box-shadow: 0px 0px 3px rgba(229, 215, 215, 0.484) inset;
    text-decoration: none;
}

.main .contain .right form .control_login #login {
    float: right;
    color: #076d9f;
    background-color: rgba(255, 255, 255, 0.671);
    border: none;
}

.main .contain .right::after {
    z-index: -1;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(5, 20, 39, 0.4);
    outline: none;
    border: none;
}